@charset "UTF-8";


#menu_icon{
    display: block;
    color: white;
    cursor: pointer;
    
}

header, header > nav{
    flex-flow: column nowrap;
        background-color: blue;
    }
   

img.img_destaque {
  width: 100%;
  height: auto;
  display: block;
    
}

#logo{
    flex-basis: 100px;
    width: 110px;
    
}

a{
    display: block;
    width: 100%;
    max-width: 90vw;
}
nav{
    flex-flow: column wrap;
    display: none;
    justify-content: flex-start;
    background-color: aqua;
    width: 200px;
}

.bg_seccao {
    padding: 16px;
    display: flex;
    
    
}
.principal{
    
}

.flexivel{
       
    flex-flow: column-reverse nowrap;
    justify-content: space-evenly;
    padding: 20px 20px;

}

h1{
    text-align: center;
    padding: 10px;
}

p{
    font-size: 1em;
    text-align: justify;
}
nav a {
    color: white;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
   
}

