@charset "UTF-8";


#menu_icon{
    display: block;
    color: white;
    cursor: pointer;
    
}

header, header > nav{
    flex-flow: column nowrap;
   
}

img.img_destaque {
    max-width: 100%;
    width: 500px;;
    
    
}

#logo{
    flex-basis: 100px;
    width: 110px;
    
}

a{
    display: block;
    width: 100%;
    max-width: 90vw;
}
nav{
    flex-flow: column wrap;
    display: none;
}

.bg_seccao {
    padding: 16px;
    
    
}
.principal{
    
}

.flexivel{
       
    flex-flow: column-reverse nowrap;
    justify-content: space-evenly;

}

h1{
    text-align: center;
    padding: 10px;
}

p{
    font-size: 1em;
    text-align: justify;
}


