/* RESET E ESTILOS GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:var(--Cor0);
    font-family: 'Poppins', sans-serif;
    color: var(--cor-texto);
}
p{
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--cor-texto);
}

.container {
    max-width: 100%;
    padding: 0;
    
}

.seccao {
    padding: 64px 0;
    text-align: center;
}

.bg_seccao {
    background:linear-gradient(to left, #253b54, #456991);
    padding: 64px 0;
    /*box-shadow: 5px 5px 15px var(--Cor3);*/
}

h2 {
    font-size: 4rem;
    margin-bottom: 40px;
}

header {
    flex-direction: row;

  
}

#logo img {
    height: 60px;
    margin-left: 100px;
}

#menu_icon {
    display: none;
  
}


#menu {
    display:flex; 
    flex-direction:row;
    justify-content: flex-end;
    
}

#menu a {

    padding: 15px;
    border-bottom: 1px solid #444;
}

#menu.active {
    display: flex; /* Visível quando a classe .active é adicionada pelo JS */
}

/* SEÇÃO HOME */
.intro {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;

    height: 100vh;
    max-width: 100%;

    padding: 50px 100px;
    flex: 1;
}

.intro-texto h1 {
    font-size: 7.5rem;
    
}

.intro-texto p {
    font-size: 2.5rem;
    line-height: 1.6;
    text-indent: 30px;
    
}

.img_destaque img {
    max-width: 80%;
    height: auto;
}

/* SEÇÃO SOBRE */
.sobre {
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    max-width: 100%;
    padding: 100px;
    gap: 0;
}

.sobre img {
    max-width: 100%;
    height: auto;

}
#sobreInfo{
    flex: 1;
    padding-left: 20px;
    justify-self: flex-start;
   
}


#sobreInfo h2 {
    font-size: 3.5rem;

    
    
}
#sobreInfo p {
    font-size: 1.8rem;
    text-indent: 30px;
}

#botoes {
    justify-content: flex-start;
    gap: 24px;
}

.botao {
    background-color: var(--cor-destaque);
    color: var(--Cor4);
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #00b3c6;
}

/* SEÇÃO PROJETOS */


#projectos_botoes a {
    padding: 10px 20px;
    background-color: var(--Cor3);
    border-radius: 20px;
    transition: background-color 0.3s;
}


.projetos_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 20px;
}

.projeto_item {
    background-color: var(--Cor2);
    padding: 24px;
    border-radius: 8px;
    width: 100%;
    text-align: left;

}

.projeto_item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 24px;
}

/* SEÇÃO SERVIÇOS */
.servicos-grid {
    display: grid;
    gap: 24px;
}

.servico {
    background-color: var(--Cor2);
    padding: 24px;
    border-radius: 8px;
    margin: 20px;
}

/* SEÇÃO HABILIDADES */
#habilidades-icones {
   
    justify-content: space-evenly;
    gap: 0;
}

#habilidades-icones img {
    width: 90px;
}

/* RODAPÉ */
footer {
    
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 32px;

    flex: row wrap;
    justify-content: space-around;
    color: white;
    gap: 32px;
}

.rodape-info img {
    height: 60px;
    margin-bottom: 16px;
}

.rodape-info p {
    font-size: 1rem;
    line-height: 1.5;
}

.rodape-contacto h3, .rodape-social h3 {
    margin-bottom: 16px;
}

.icones-contacto span {
    font-size: 2rem;
    margin: 0 8px;
}

.social-media-icones img {
    width: 40px;
    margin: 0 8px;
}

#menu:not(.active) {
    display: none !important;
}