@charset "UTF-8";

/* Importar fontes */
@font-face {
    font-family: 'Roboto' ;
    src: url('/Fontes/Playfair,Radley,Roboto/Roboto/static/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300 900; /* Defina o intervalo de pesos da fonte variável */
        font-style: normal;
        font-style: italic;
    
    
        font-family: 'Playfair Display';
        src: url('/Fontes/Playfair,Radley,Roboto/Playfair/Playfair-VariableFont_opsz,wdth,wght.ttf') format('truetype');
        font-weight: 300 900; /* Defina o intervalo de pesos da fonte variável */
        font-style: normal;
        font-style: italic;
    

        font-family: 'Radley';
        src: url('/Fontes/Playfair,Radley,Roboto/Radley/Radley-Italic.ttf');
    }
   


:root {
    --Cor0: #021024;
    --Cor1: #052659;
    --Cor2: #5483B3;
    --Cor3: #7da0ca;
    --Cor4: #c1e8ff;

    --fonte-padrao: Roboto, "Helvetica Neue", Arial, sans-serif;
    --fonte-destaque: "Playfair", serif;
    --fonte-especial:  "Radley", serif;

}


* {
    box-sizing: border-box;
    padding: 0px ;
    margin: 0px;
    font-family: var(--fonte-padrao); 
    
}


/* Imagens padrão */
img{
    max-width: 100%;
    height: auto;

    
    
}
img.img_destaque {
    max-width: 100%;
    height: auto;
    
    
}

/* Container principal */
.container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto 1fr 150px;  
    height: 100vh;  
    

}

/* Navegação */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
}

nav{
    display: flex;
    justify-content: flex-end;
}

a{
    text-decoration: none;
}

nav a {
    color: white;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    margin: 5px;
    font-size: 1.5em;
}

a:hover {
    background-color: var(--Cor2);
}

#logo{
    flex: 0 0 120px;
    
    
}
#home{
    
}

#menu_icon {
    display: none;
}

/* Conteúdo principal dividido em 4 sections */
.principal{
    display: grid;
    grid-auto-rows: repeat(5, 1fr); 
    grid-template-columns: auto;
    
    
    
}

div#intro{
   /* max-width: 950px;
    padding-top: 20px;*/
}

/* Cores de exemplo para testar */
.bg_seccao {
    
    background:linear-gradient(to left, #253b54, #456991);
    
    
    
}


.flexivel{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 120px;
    
    flex:1 1 500px;

    height: 100vh;
    width: 100%;
}

.seccao {
    
    text-align: center;
    padding: 20px 120px;
}
#sobre{
    border-radius:0 0 0 0;
}

.botao{
    display: inline-block;
    background-color: var(--Cor1);
    border-radius: 25px;
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
    margin: 10px;
    color: var(--Cor4);
    

}
#botoes{
    display: flex;
    
}
#sobre{
    padding-left: 100px;
}

h1{
    font-family:var(--fonte-destaque);
    color: white;
    font-size: 8vw;
    font-weight: 200;
    font-style: italic;
    
}
.bg_seccao h2{
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 2vw;
    font-weight: 100;
    
    
}

h2{
    font-family: var(--fonte-destaque);
    color:black;
    font-size: 2vw;
    font-weight: 100;
    
    
}

p{
    color: white;
    font-size: 1.3vw;
    font-weight: 100 ;
     
    
}

#servicos{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
} 



footer{
    background-color: var(--Cor0);

}


