.container {
    padding: 0 40px;
}

header {
    padding: 40px 0;
}

#logo img {
    height: 60px;
}

#menu_icon {
    display: none; /* Escondido em desktop */
}

nav {
    display: flex !important; /* Força a exibição do menu */
    position: static;
    flex-direction: row;
    width: auto;
    background: none;
    box-shadow: none;
    gap: 15px; /* Espaçamento entre os links */
}

#menu a {
    padding: 0 15px;
    border: none;
}

.principal {
    padding: 50px 0;
}

.flexivel {
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 60px 0;
    gap: 50px; /* Espaço entre texto e imagem */
}

.intro-texto, #sobreInfo {
    flex: 1;
    max-width: 50%;
}

.img_destaque {
    flex: 1;
    text-align: right;
}

.sobre {
    flex-direction: row-reverse;
    text-align: left;
}

.servicos-grid {
    grid-template-columns: repeat(3, 1fr);
}

footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start;
    padding: 50px 0;
    gap: 50px;
}

.rodape-info {
    flex: 1;
    max-width: 350px;
}

.rodape-contacto,
.rodape-social {
    flex: 1;
    max-width: 250px;
}

/* Ajustes específicos para tipografia em desktop */
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.125rem;
}

#botoes {
    justify-content: flex-start;
}

.desktop {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    text-align: left;
}

.desktop img {
    max-width: 400px;
    height: auto;
}

#habilidades {
    gap: 40px;
}

#menu_icon {
    display: none; /* Escondido em desktop */
}
#menu {
    display: flex ; /* Visível em desktop */
    justify-content: space-around;
    flex-direction: row;
    width: auto;
    background-color: transparent; /* Remove o fundo */
    box-shadow: none; /* Remove a sombra */
    gap: 15px;
}

#menu a {
    padding: 15px;
    border-bottom: 1px solid #444;
}
#menu.active {
    display: flex; /* Visível quando a classe .active é adicionada pelo JS */
}